<!--=================================
      App -->
      <section class="space-p bg-light">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 mt-5 mt-lg-0">
              <div class="section-title left-divider">
                <span>{{ entry.appTitle }}</span>
                <h2>{{ entry.appMainHeading }}</h2>
                <p>{{ entry.appBodyText }}</p>
              </div>
              <div class="d-block d-xs-flex mt-5">
                  <a class="btn-app me-2" href="{{ entry.appIosLink }}">
                    <i class="fab fa-apple"></i>
                    <div class="btn-text text-start">
                      <small class="small-text">Download on the </small>
                      <span class="mb-0 d-block">App store</span>
                    </div>
                  </a>
                  <a class="btn-app" href="{{ entry.androidAppLink }}">
                    <i class="fab fa-google-play"></i>
                    <div class="btn-text text-start">
                      <small class="small-text">Get in on </small>
                      <span class="mb-0 d-block">google play</span>
                    </div>
                  </a>
                </div>
            </div>
            <div class="col-lg-6 text-center mt-4 mt-lg-5">
              <img class="img-fluid" src="images/home-03/mobile.png" alt="">
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      App -->